
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

sysinfo.txt
*.apk
*.aab
*.unitypackage

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

*.sln
*.csproj
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

.idea/
*.sln.iml

.vscode/
.history/

*.stacktrace

.collabignore

*.cloud

*.orig

*.log

*.tmp

Build/
Builds/
